.no-js .liquid-slider {
	height: 350px;
	overflow: scroll;
	margin: 1px 14px;
}
.ls-preloader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.ls-wrapper {

	margin: 0 auto;
	clear: both;
	overflow: auto;
	position: relative;
	width: 100% !important;
max-width:1600px !important;
}
.ls-wrapper .liquid-slider {
	width: 1030px;
	float: left;
	overflow: hidden;
	position: relative;
}
.ls-wrapper .panel-container {
	position: relative;
/*	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
}
.ls-wrapper .liquid-slider .panel-container .fade {
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.ls-wrapper .liquid-slider .panel {
	width: 1030px;
	border-radius: 0;
	background: none;
	box-shadow: none;
	display: block;
	float: left;
}
.ls-wrapper .liquid-slider .panel images {
}
.ls-wrapper .liquid-slider .panel video {
}
.ls-wrapper .liquid-slider .panel-wrapper {
	padding: 20px;
	position: relative;
}
.ls-wrapper .ls-nav a {
	color: #000;
margin-right: 1px;
outline: 0;
font-weight: 600;
position: relative;z-index: 999999;
}
.ls-wrapper .ls-nav a.current:before {
	position: absolute;
	content: "";
	width: 15px;
	bottom: 5px;
	left: 0;color: #ff7f01;
	/*border-bottom: 3px solid #ebebeb;*/
}
.ls-wrapper .ls-nav a:hover {
	color: #ff7f01;
	text-shadow: none;
}
.currentCrossLink {
	font-weight: bold;
}
.ls-wrapper .ls-nav ul {
	padding: 0;
	clear: both;
	display: block;
	margin: auto;
	overflow: hidden; padding-left: 50px;
}
.ls-wrapper .ls-nav ul li {
	display: inline-block;

	
font-weight: 600;
color: black;
padding: 15px;
text-transform: uppercase;
font-size: 12px;
}
.ls-wrapper .ls-nav ul li a {
	display: block;
	float: left;
	text-decoration: none;
}
.ls-wrapper .ls-nav {
	overflow: hidden;
	clear: both;
	z-index: 999;
position: fixed;left: 10px;
}
.ls-wrapper .ls-select-box {
	width: 100%;
	overflow: hidden;
}
.ls-wrapper .ls-select-box select {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	padding: 10px;
	font-size: 110%;
	border: none;
	background: #FFF;
	cursor: pointer;
	outline: 0;text-transform: uppercase;
}
.ls-wrapper .ls-nav-left, .ls-wrapper .ls-nav-right {
	float: left;
}
.ls-wrapper .ls-nav-left a, .ls-wrapper .ls-nav-right a {
	background: #000;
	color: #fff;
	padding: 5px;
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
}
.ls-wrapper .ls-nav-left-arrow, .ls-wrapper .ls-nav-right-arrow {
	cursor: pointer;
	float: left;
}
.ls-wrapper .ls-nav-left-arrow a, .ls-wrapper .ls-nav-right-arrow a {
	display: block;
}
.ls-wrapper .ls-nav-left, .ls-wrapper .ls-nav-left-arrow {
	clear: both;
}
.ls-wrapper .ls-nav-right-arrow {
	width: 25px;
	height: 25px;
	background: url(../images/arrows.png) no-repeat bottom right;
	margin-top: 29px;
	margin-right: 20px;
	position: relative;
}
.ls-wrapper .ls-nav-left-arrow {
	width: 25px;
	height: 25px;
	background: url(../images/arrows.png) no-repeat bottom left;
	margin-top: 29px;
	margin-left: 5px;
	position: relative;
}
.ls-wrapper .ls-nav-left-arrow:hover {
/*	background: url(../images/arrows.png) no-repeat top left;*/
}
.ls-wrapper .ls-nav-left-arrow:active {
}
.ls-wrapper .ls-nav-right-arrow:hover {
	/*background: url(../images/arrows.png) no-repeat top right;*/
}
.ls-wrapper .ls-nav-right-arrow:active {
}
.arrows .liquid-slider {
	margin: 0 10px;
}
.ls-responsive .liquid-slider {
	width: 100%;
	margin: 0;padding-left:0px;
}
.ls-responsive .liquid-slider .panel .panel-wrapper {
	padding: 0;
}
.ls-responsive .ls-nav-left {
	position: absolute;
	left: 0;
	z-index: 2;
}
.ls-responsive .ls-nav-left a {
	background: #9A9A9A;
	width: 80px;
}
.ls-responsive .ls-nav-left a:hover {
	background: #747474;
}
.ls-responsive .ls-nav-right {
	position: absolute;
	right: 0;
	z-index: 2;
}
.ls-responsive .ls-nav-right a {
	background: #9A9A9A;
	width: 80px;
}
.ls-responsive .ls-nav-right a:hover {
	background: #747474;
}
.ls-responsive .ls-nav-left-arrow {
	position: absolute;
	right: 38px;top: -20px;
	z-index: 2;
}
.ls-responsive .ls-nav-right-arrow {
	position: absolute;
	right: 0;
	top: -20px;
	z-index: 2;
}
@media only screen and (min-width: 481px) {
.ls-wrapper .liquid-slider .panel images {
}
}

/******************************************************************
* Tablet & Smaller Laptops
* This will include tablets and some netbooks.
******************************************************************/
@media only screen and (min-width: 768px) {
.ls-wrapper .liquid-slider .panel images {
/* Example */
    /*
    width:24%;
    */
}
.ls-responsive .liquid-slider .panel .panel-wrapper {
	padding: 0px 0px;margin-top: 60px;
}
}

/******************************************************************
* DESKTOP 
* This is the average viewing window. So Desktops, Laptops, and 
* in general anyone not viewing on a mobile device. Here's where
* you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 1030px) {
}

/******************************************************************
* LARGE VIEWING SIZE 
* This is for the larger monitors and possibly full screen viewers.
******************************************************************/
@media only screen and (min-width: 1240px) {
}

/******************************************************************
* RETINA (2x RESOLUTION DEVICES)
* This applies to the retina iPhone (4s) and iPad (2,3) along with 
* other displays with a 2x resolution. You can also create a media
* query for retina AND a certain size if you want. Go Nuts.
******************************************************************/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),  only screen and (min--moz-device-pixel-ratio: 1.5),  only screen and (min-device-pixel-ratio: 1.5) {
}
